/* Inspiration from w3schools*/
 nav
{
    position: fixed;
    justify-content: center;
    align-content: center;
    top : 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(247, 201, 141);
    overflow-y: hidden;
}

nav a, .navDropdownOptions a
{
    padding: 25px;
    font-size:35px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-content: center;
    text-decoration: none;
}

nav a:hover, .navDropdown:hover, .navDropdownOptions a:hover
{
    background-color:rgb(243, 1, 1);
}

.navDropdown
{
    float: left;
    overflow: hidden;
}

.navDropdownOptions
{
    display: none;
    position: absolute;
    background-color: rgb(0, 255, 98);
    min-width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navDropdown:hover .navDropdownOptions
{
    display: block;
}

body
{
    padding-left: 200px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

figcaption
{
    font-size: 18px;
    font-style: italic;
    color: rgb(68, 68, 68);
    margin-bottom: 16px;
}

img
{
    max-width: 990px;
    width: 100%;
    height: auto;
}